# node things
node_modules

# runtim files
temp/*
cache/*

# buiild files
build/*
dist/*

# build assets (external assets needed for the build, but cant be included in this repo)
assets/vtflib/*

# dev temp files
.dev/*